.uploadCard{
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:18px;
    border-radius:18px;

    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
}

.uploadCard__icon{
    width:52px;
    height:52px;

    border-radius:14px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#6d5dfc;
}

.uploadCard__info{
    flex:1;
    margin-left:16px;
}

.uploadCard__info h3{
    margin:0;
    font-size:16px;
    color:white;
}

.uploadCard__info p{
    margin-top:6px;
    color:#9ca3af;
    font-size:13px;
}

.uploadCard__button{
    display:flex;
    align-items:center;
    gap:8px;

    padding:12px 18px;

    border:none;
    border-radius:12px;

    background:#6d5dfc;
    color:white;

    cursor:pointer;

    font-weight:600;
}